@tailwind base;
@tailwind components;
@tailwind utilities;

/*@import "tailwindcss/base";*/
/*@import "tailwindcss/components";*/
/*@import "tailwindcss/utilities";*/


.html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

.body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  display: block;
  /*font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;*/
  /*font-weight: 400;*/
  /*font-style: normal;*/
  /*-webkit-font-smoothing: antialiased;*/
}

.a {
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
  background-color: transparent;
  cursor: pointer;
}

/* When links are available */
.nav-tab:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}

/*.a:-webkit-any-link {*/
/*  cursor: pointer;*/
/*  text-decoration: none;*/
/*}*/

*, :after, :before {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

.img {
  display: inline-block;
  vertical-align: top;
  border-style: none;
  height: 20px;
}

.App {
  text-align: center;
  min-height: calc(100vh - 40px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  /*color: white;*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
}

.App-link {
  /*color: #61dafb;*/
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page-body {
  display: flex;
  margin-top: 60px;
  -webkit-flex: 1 0 auto;
  /* Move these up the hierarchy */
  flex-direction: inherit;
  align-items: center;
  justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -webkit-flex-grow: 1;
  -webkit-flex-shrink: 0;
  -webkit-flex-basis: auto;
  -webkit-justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
}

/*.banner {*/
/*  background-color: #20232a;*/
/*  !*color: #ffffff;*!*/
/*  position: fixed;*/
/*  z-index: 1;*/
/*  width: 100%;*/
/*  top: 0;*/
/*  left: 0;*/
/*}*/

/*.banner-container {*/
/*  padding-left: 20px;*/
/*  padding-right: 20px;*/
/*  margin-left: auto;*/
/*  margin-right: auto;*/
/*}*/

/*.banner-body {*/
/*  display: flex;*/
/*  height: 60px;*/
/*  -webkit-box-orient: horizontal;*/
/*  -webkit-box-direction: normal;*/
/*  -webkit-flex-direction: row;*/
/*  -webkit-box-align: center;*/
/*  -webkit-align-items: center;*/
/*}*/

/*.banner-title {*/
/*  !* Crossed out/overwritten:*/
/*  display: -webkit-box;*/
/*  display: -moz-box;*/
/*  display: -ms-flexbox;*/
/*  display: -webkit-flex;*/
/*  align-items: center;*/
/*   *!*/
/*  display: flex;*/
/*  margin-right: 10px;*/
/*  height: 100%;*/
/*  !*color: #61dafb;*!*/
/*  -webkit-box-align: center;*/
/*  -webkit-align-items: center;*/
/*}*/

/*.title {*/
/*  color: inherit;*/
/*  margin-left: 10px;*/
/*  font-weight: 700;*/
/*  font-size: 20px;*/
/*  line-height: 20px;*/
/*}*/

/*.banner-nav {*/
/*  display: flex;*/
/*  overflow-x: auto;*/
/*  overflow-y: hidden;*/
/*  height: 100%;*/
/*  -webkit-flex: 1;*/
/*  -webkit-box-orient: horizontal;*/
/*  -webkit-box-direction: normal;*/
/*  -webkit-flex-direction: row;*/
/*  -webkit-box-align: stretch;*/
/*  -webkit-align-items: stretch;*/
/*}*/

/*.nav-tab {*/
/*  display: flex;*/
/*  color: #ffffff;*/
/*  padding-left: 15px;*/
/*  padding-right: 15px;*/
/*  font-weight: 300;*/
/*  -webkit-box-orient: horizontal;*/
/*  -webkit-box-direction: normal;*/
/*  -webkit-flex-direction: row;*/
/*  -webkit-box-align: center;*/
/*  -webkit-align-items: center;*/
/*  -webkit-transition: color 0.2s ease-out;*/
/*}*/

/*.nav-tab {*/
/*  display: -webkit-box;*/
/*  display: -moz-box;*/
/*  display: -ms-flexbox;*/
/*  display: -webkit-flex;*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  align-items: center;*/
/*  !*color: #ffffff;*!*/
/*  transition: color 0.2s ease-out;*/
/*  padding-left: 15px;*/
/*  padding-right: 15px;*/
/*  font-weight: 300;*/
/*  -webkit-box-orient: horizontal;*/
/*  -webkit-box-direction: normal;*/
/*  -webkit-flex-direction: row;*/
/*  -webkit-box-align: center;*/
/*  -webkit-align-items: center;*/
/*  -webkit-transition: color 0.2s ease-out;*/
/*  -moz-transition: color 0.2s ease-out;*/
/*}*/

/*.current {*/
/*  display: -webkit-box;*/
/*  display: -moz-box;*/
/*  display: -ms-flexbox;*/
/*  display: -webkit-flex;*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  align-items: center;*/
/*  !*color: #61dafb;*!*/
/*  transition: color 0.2s ease-out;*/
/*  padding-left: 15px;*/
/*  padding-right: 15px;*/
/*  font-weight: 300;*/
/*  -webkit-box-orient: horizontal;*/
/*  -webkit-box-direction: normal;*/
/*  -webkit-flex-direction: row;*/
/*  -webkit-box-align: center;*/
/*  -webkit-align-items: center;*/
/*  -webkit-transition: color 0.2s ease-out;*/
/*}*/

.spanUnderline {
  display: none;
  position: absolute;
  bottom: -1px;
  height: 4px;
  /*background: #61dafb;*/
  left: 0;
  right: 0;
  z-index: 1;
}

@media (max-width: 674px) and (min-width: 0px) {
  .banner-nav {
      width: auto;
      -webkit-mask-image: linear-gradient(to right, transparent, black 20px, black 90%, transparent);
    }
  
  .nav-tab {
    padding-left: 8px;
    padding-right: 8px;
  }
  
  .banner-body {
    height: 40px;
  }
  
  .banner-title {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
  }
  
  .title {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
}

@media (max-width: 1279px) and (min-width: 675px) {
  .page-body {
    margin-top: 50px;
  }
  
  .banner-body {
    height: 50px;
  }
}

@media (min-width: 675px) {
  .banner-title {
    width: calc(100% / 6);
  }
  
  .nav-tab {
      position: relative;
    }
  
  .nav-tab.current > span.spanUnderline {
    display: block !important;
  }
  
  /*.currentspan {*/
  /*  position: absolute;*/
  /*  bottom: -1px;*/
  /*  height: 4px;*/
  /*  background: #61dafb;*/
  /*  left: 0;*/
  /*  right: 0;*/
  /*  z-index: 1;*/
  /*}*/
}

@media (max-width: 979px) and (min-width: 675px){
  .nav-tab {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .title {
    font-size: 16px;
    margin-top: 1px;
  }
}

@media (min-width: 780px) {
  .banner-container {
    width: 90%;
  }
}

.search-span {
  position: relative;
  display: inline-block;
  direction: ltr;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.search-box {
  position: relative;
  vertical-align: top;
  width: 100%;
  background: transparent;
  border: 0;
  /*color: #ffffff;*/
  font-size: 18px;
  font-weight: 300;
  font-family: inherit;
  padding: 4px 4px 4px 29px;
  background-image: ;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 4px;
  -webkit-appearance: none;
}

.spotify-logo {
  height: 30px;
  display: inline-block;
  vertical-align: top;
}

